# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific to mu
*.a
*.o
*.pyc
*.lo
*.la
*.m4

Makefile
Makefile.in
.deps
.libs

/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.sub
/config.status
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/compile
/test-driver
